body {
    
    font-family: ubuntu;
}

.footer {
    width: 100%;
    margin-top: 98px !important;
    height: 47vh;
    background-color: rgb(51, 45, 45);
    display: flex;
    margin: 0%;
    padding: 0%;
    font-family: ubuntu;
    color: white !important;
    
}

.footer .section1 {
    width: 33%;
    margin: 2% 0% 0% 4%;
    color: white;
}

.footer .section1 h3 {
    margin: 10px 0px 19px 10px;
    color: white !important;
}

.footer .section1 p {
    margin: 16px -125% 19px 10px;
    color: white !important;

}

.footer .service {
    width: 33% !important;
    margin: 2% 0% 0% 4% !important;
    color: white !important;
}

.footer .service h3 {
    margin-left: 10% !important;
    margin-top: 10px !important;
    color: white !important;
}

.footer .service p {
    margin: 2% 10% 0% 10%;
    line-height: 19.6px;
    color: white;
}

.footer .subscribe {
    width: 33% !important;
    margin: 2% 0% 0% 6%;
}

.footer input[type="email"] {
    padding: 4%;
    border-radius: 10px;
    width: 70%;
    border: none;
    background: #625d5d;
    font-family: ubuntu;
    color: white;
    margin: 2% 0% 5% 0
}

.footer input::placeholder {
    color: white;
}

.footer .subscribe h3 {
    margin: 10px 0% 0% 27%;
    color: white;
}

.footer .subscribe button {
    padding: 3%;
    border-radius: 4px;
    border: none;
    background: orangered;
    margin: 2% 0% 5% 0;
    font-size: 17px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.footer .subscribe button a {
    font-family: ubuntu;
    color: white;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 1px;
}

button:hover {
    transform: scale(1.01);
    background-color: orange;
    border-radius: 12px;
    cursor: pointer;
}


.connect_items {
    display: flex;
    align-items: center;
}

.message {
    display: flex;
    align-items: center;
}

.message i {
    font-size: 24px;
    color: white;
    padding: 0px 7px;
}

.message a {
    color: white;
}

.phone i {
    margin-left: 8px;
}

.social-icon {
    margin-left: 4%;
    padding: 2% 2%;
    border: 2px solid lightgrey;
    background-color: #706a6ac2;

}

.footer .subscribe a i {
    color: white;
}

.copy p {
    margin-top: 21%;
    margin-left: -65%;
    color: rgb(248, 241, 241);
    font-family: Ubuntu;
    position: absolute;
}

.copy span {
    color: orange;

}

@media (max-width:1202px) {
    .footer {
        width: 100%;
        height: 100vh;
        background-color: rgb(51, 45, 45);
        /* display: flex; */
        /* margin-right: 0%; */
        padding-right: 8%;

    }

    .footer .section1 {
        width: 50%;
        height: 50%;

    }

    .footer .service {
        width: 50%;
        height: 52%;
    }

    .footer .service p {
        line-height: 28px;
    }

    .footer .subscribe {
        position: absolute;
        top: 41%;
        right: 64%;

    }

}

@media (max-width:837px) {
    * {
        margin: 0%;
        padding: 0%;
    }

    .footer {

        width: 104%;
        height: 160vh;
        background-color: rgb(51, 45, 45);
        display: block;
    }

    .footer .service {
        width: 100%;
        height: 33%;
        text-align: justify;
        margin-left: -1%;
        /* margin-top: 12%; */
    }

    .footer .section1 {
        width: 100%;
        margin-top: -1%;
        padding-top: 4%;
        margin-top: -1%;
        height: 25%;
        margin-left: 9%;

    }

    .footer .subscribe {
        top: 77%;
        left: 4%;
        width: 100%;
        height: 33%
    }

    .social-icon {
        margin-left: 7%;
        padding: 2% 2%;
        border: 2px solid lightgrey;
        background-color: #706a6ac2;

    }

    .copy p {
        text-align: center;
        justify-content: center;
        margin-left: -152px;
    }
}

@media (max-width:491px) {


    .footer .subscribe {
        top: 81%;
        left: 4%;
        width: 100%;
        height: 33%
    }
}

@media (max-width:461px) {
    .footer .section1 {
        margin-left: 1%;
    }

    .footer .service {
        margin-left: -7%;
    }

    .footer .subscribe {
        margin-left: -1%;
    }

    .social-icon {
        margin-left: 4%;
    }

    .copy p {
        margin-left: -23%;
    }
}

@media (max-width:421px) {
    .footer .subscribe {
        top: 97%;
        margin-left: 4%;
    }

    .footer .section1 p {
        margin-right: 5%;
    }

    .copy p {
        margin-left: -7%;
    }

    .connect_items {
        display: block;
    }

    .message {
        margin-left: 4%;
    }

    .footer .service {
        margin-top: 10%;
    }
}